
body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden; /* Prevent scrolling while popup is active */
}
.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}
.navbar a:hover {
    background: #555;
}
.content {
    padding: 20px;
    text-align: center;
}
.termscontent{
    padding: 20px;
    text-align: left;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    background: white;
    padding: 20px;
    text-align: center;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 300px;
    border-radius: 8px;
}
.terms-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
}
.close-btn {
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}
.container {
    position: relative; /* Makes the container the reference point */
    height: 15px; /* Example height for the container */
    border: 0px solid #ccc; /* Optional: to visualize the container */
}
.footnote {
    position: absolute; /* Positions the footnote relative to the container */
    bottom: 10px; /* 10px from the bottom of the container */
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Adjusts for the element's width to truly center */
    font-size: 0.75em;
    color: #666;
    text-align: center;
}
